main{
    width: 50%;
    margin: auto;
}

textarea{
    resize: none;
}

h4{
    margin-bottom: 0rem;
}

p{
    margin-bottom: 0;
    word-wrap: break-word;
}

.postHead{
    column-count:2; 
    column-gap: 20px;
}

section{
    background-color: rgb(231, 231, 231);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.comments{
    width: 100%;
    height: fit-content;
    background-color: rgb(231, 231, 231);
    padding: 0.5rem 0;
}

.comment{
    background-color: rgb(209, 209, 209);
    width: 80%;
    margin: 2rem auto;
}

h5{
    margin-bottom: 0.3rem;
}

h2{
    margin-top: 0.83em;
}

@media (max-width: 1029px) {
    main{
        width: 80%;
    }
}

.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

.wrapperFriends{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1029px) {
    .wrapperFriends{
        grid-template-columns: repeat(2, 1fr);
      }
}

@media (max-width: 767px) {
    .wrapperFriends{
        grid-template-columns: repeat(1, 1fr);
      }

      .item div{
        width:100%; 
    }
}

#friendsPage{
    width: 70%;
}

.item h2{
    text-align:center;
}

.item div{
    width:80%; 
    height:50vh; 
    background: rgb(235, 235, 235); 
    margin: 0 auto;
    padding-right: 1rem;
}

.item div p{
    color: black;
    font-size: 2.5rem;
    margin-left: 1rem;
    font-weight: 300;
}

.friendBlockWrapper{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    column-gap: 0.7rem;
    overflow: scroll;
}

.friendBlockWrapper hr{
    margin: 0;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
    margin-left: 1.5rem;
}

.wrapper h2{
    margin-bottom: 0
}